
<div class="side-bar-header">
  <div class="create-room">
    <%= link_to "ルーム作成", new_room_path %>
  </div>
  <div class="enter-room">
    <%= link_to "ルーム一覧", room_lists_path %>
  </div>
</div>

<div class="rooms">
  <h2 class='room-title'>< 作成ルーム一覧 ></h2>
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
      <div class='detail'>
        <%= "ゲームタイトル #{room.game.name}"%><br><%= "プラットフォーム #{room.platform.name}"%>
      </div>
    </div>
  <% end %>
</div>